@media (min-width: 960px) {
	.container {
	width: 780px;
	}
}
.btn-brand{
	background-color: white;
	border-radius:0;
	height:100px;
	border: 1px solid #babcbe;
	background-size: auto 60%;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.15;
	filter: alpha(opacity=15); /* For IE8 and earlier */
}
.brand-selected{
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}
.btn-spark{
    background-image:url(../img/spark.png);
}
.btn-vodafone{
    background-image:url(../img/vodafone.png);
}
.btn-2degree{
    background-image:url(../img/2degree.png);
}
.btn-skinny{
    background-image:url(../img/skinny.png);
}

.btn-quanity{
	border-radius:0;
	height:60px;
	background-color:white;
	border: 1px solid #babcbe;
    font-size:18px;
}
.no-left-border{
	border-left:0px;
}

.quanity-selected{
	background-color:#698905;
}
.btn-pay{
    cursor:pointer;
}

.lbl-amount{
    color:red;
}
.btn-confirm{
    color:white;
    background-color:#698905;
}