@media (min-width: 960px) {
    .container {
        width: 780px;
    }
}

h4, h5 {
    margin-bottom: 2px;
}

body {
    color: #333;
    background-color: #70C1B3;
    /*background-color: #FFFFFF;*/
    /*background-color: #00dcbe;*/
}

.btn-brand {
    background-color: white;
    border-radius: 0;
    height: 100px;
    border: 1px solid #babcbe;
    background-size: auto 60%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.15;
    filter: alpha(opacity=15); /* For IE8 and earlier */
}

.brand-selected {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.btn-spark {
    background-image: url(../img/spark.png);
}

.btn-vodafone {
    background-image: url(../img/vodafone.png);
}

.btn-2degrees {
    background-image: url(../img/2degrees.png);
}

.btn-skinny {
    background-image: url(../img/skinny.png);
}

.btn-quanity {
    border-radius: 0;
    height: 60px;
    color: black;
    background-color: white;
    border: 1px solid #babcbe;
    font-size: 18px;
}

.no-left-border {
    border-left: 0px;
}

.quanity-selected {
    background-color: #008cdc;
}

.btn-pay {
    cursor: pointer;
}

.lbl-amount {
    color: #FF1654;
}

.btn-confirm {
    color: white;
    background-color: #008cdc;
}

/* voucher view page*/
.voucher-info {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

    .voucher-info .logo {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }

        .voucher-info .logo IMG {
            height: 60px;
        }


    .voucher-info .subtitile {
        font-size: 16px;
    }

    .voucher-info .language {
        text-align: right;
    }

    .voucher-info .topup-number {
        font-size: 40px;
        color: #000;
        padding: 0px;
        margin-top: 10px;
        line-height: 40px;
    }

    .voucher-info .remark {
        font-size: 14px;
    }

    .voucher-info .how-to-use {
        font-size: 14px;
    }

    .voucher-info .back {
        margin-top: 20px;
        text-align: center;
    }

.voucher-history {
    margin-bottom: 5px;
}

    .voucher-history .purchaseInfo {
        font-size: 14px;
        background-color: black;
        color: white;
        margin-top: 10px;
        padding: 0px 5px 0px 5px;
    }

        .voucher-history .purchaseInfo .brand {
            float: left;
        }

        .voucher-history .purchaseInfo .date {
            float: right;
        }

    .voucher-history .serial-number {
        font-size: 12px;
        color: #666;
    }

    .voucher-history .topup-number-sm {
        font-size: 32px;
        color: #000;
        margin-top: 5px;
        margin-bottom: 2px;
        padding: 0px;
        line-height: 20px;
    }

    .voucher-history .pay-now {
        color: red;
    }

/*voucher admin*/
.brand-brief {
    background-color: white;
    padding: 0px;
    border: 1px solid #babcbe;
    text-align: center;
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
    cursor: pointer;
    color: black;
}

    .brand-brief .logo {
        border-radius: 0;
        height: 60px;
        background-size: auto 80%;
        background-position: center;
        background-repeat: no-repeat;
    }

.brief-selected {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.brand-brief .remaining {
    font-size: 20px;
    margin-right: 5px;
}

    .brand-brief .remaining.low-stock {
        color: red;
    }

.input-topup-number {
    margin-top: 8px;
    font-size: 36px;
    height: 48px;
    line-height: 48px;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
}

.input-serial-number {
    margin-top: 8px;
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    -moz-appearance: textfield;
}

.alert.add-voucher {
    margin: 0px 0px 0px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

.row-voucher {
    margin-top: 5px;
}

    .row-voucher .number {
        float: left;
    }

    .row-voucher .serial-number {
        font-size: 14px;
        color: #666;
    }

    .row-voucher .topup-number-sm {
        font-size: 28px;
        color: #000;
        margin-top: 5px;
        margin-bottom: 2px;
        padding: 0px;
        line-height: 20px;
    }

    .row-voucher .opt {
        font-size: 32px;
        float: right;
    }

        .row-voucher .opt SPAN {
            cursor: pointer;
        }

.brand-selector {
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.delete-prompt {
    font-size: 20px;
}
