###############
#    ignore   #
###############

###############
#    global   #
###############

/publish/

###############
#    project  #
###############
/source/MobileTopUp/*/bin/

/source/MobileTopUp/*/obj/
/source/MobileTopUp/packages/

/source/MobileTopUp/TestResults
/design/voucher_sample
/test/*
