###############
#    ignore   #
###############
###############
#    global   #
###############
/publish/
###############
#    project  #
###############
/source/MobileTopUp/packages/
/source/MobileTopUp/*/bin/
/source/MobileTopUp/*/obj/
/design/voucher_sample
/source/MobileTopUp
/test/log
/test/temp
/test/tessdata/Configs
/test/tessdata
