###############
#    ignore   #
###############
###############
#    global   #
###############
/publish/
###############
#    project  #
###############
/source/MobileTopUp/packages/
/source/MobileTopUp/*/bin/
/source/MobileTopUp/*/obj/