 {
     "button":[
     {	
          "type":"click",
          "name":"测试按钮A",
          "key":"TEST_BUTTON_A"
      },
      {
           "name":"话费充值",
           "sub_button":[
           {	
               "type":"view",
               "name":"Spark",
               "url":"http://www.q-life.com/wx/topup/spark"
            },
            {
               "type":"view",
               "name":"Vodafone",
               "url":"http://www.q-life.com/wx/topup/vodafone"
            },
            {
               "type":"view",
               "name":"2 Degree",
               "url":"http://www.q-life.com/wx/topup/TwoDegree"
            },
            {
               "type":"view",
               "name":"Skinny",
               "url":"http://www.q-life.com/wx/topup/Skinny"
            }]
       },
     {	
          "type":"click",
          "name":"测试按钮B",
          "key":"TEST_BUTTON_B"
      }
 }