<script src="~/js/jquery-1.11.3.min.js"></script>
<script src="~/js/vendor/jquery.ui.widget.js"></script>
<script src="~/js/jquery.iframe-transport.js"></script>
<script src="~/js/jquery.fileupload.js"></script>
<style>
    .bar {
        height: 18px;
        background: green;
    }
</style>
<script>
        $(function () {
            $('#btnFileUpload').fileupload({
                url: '/voucher/upload?upload=start',
                add: function (e, data) {
                    console.log('add', data);
                    $('#progressbar').show();
                    data.submit();
                },
                progress: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    console.log('progress', progress);
                    $('#progress .bar').css(
                        'width',
                        progress + '%'
                    );
                },
                success: function (response, status) {
                    $('#progress').hide();
                    $('#progress .bar').css('width', '0%');
                    $("#msg").text('success');
                    $("#txtContent").text(response);
                    console.log('success');
                },
                error: function (error) {
                    $('#progress').hide();
                    $('#progress .bar').css('width', '0%');
                    console.log('error', error);
                }
            });
        });
</script>
<div class="container">
    <p style="height:30px"></p>
    <input type="file" name="file" id="btnFileUpload"/>
    <div id="progress">
        <div class="bar" style="width: 0%;"></div>
    </div>
    <div>
        <textarea id="txtContent" rows="20" style="width:100%"></textarea>
    </div>
</div>