@using MobileTopUp.Utilities
@{
    string logoFile = ViewBag.Transaction.Brand + ".png";
    int voucherNum = TopUpStoreHelper.CalcNeededVoucherNumber(ViewBag.Transaction.TotalDenomination);
    string payTypeStr = "";
    switch ((string)ViewBag.Transaction.PaymentType)
    {
        case "WECHAT": payTypeStr = "WECHAT"; break;
        case "PECC": payTypeStr = "PAYMENT EXPRESS"; break;
        case "PEA2A": payTypeStr = "SKIP PAYMENT"; break;
        default: payTypeStr = "UNKNOWN"; break;
    }
}
<div class="container">
    <div class="jumbotron" style="text-align:center">
        <img src="~/img/@logoFile" style="height:80px"/>
        <h4>$20 Voucher x @voucherNum</h4>
        <h4>total <span class="lbl-amount">@ViewBag.Transaction.SellingPrice @ViewBag.Transaction.Currency</span></h4>
        <h4>pay by <span class="lbl-amount">@payTypeStr</span></h4>
        <p style="margin-top:30px">
            <a href="/wx/topup/pay"><button type="submit" class="btn btn-confirm">Confirm and Pay</button></a>
            <a href="/wx/topup/@ViewBag.Transaction.Brand/@ViewBag.Transaction.TotalDenomination"><button type="button" class="btn">Back</button></a>
        </p>
    </div>
</div>
