<div class="container">
    <p></p>
    <!-- brand -->
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-brand btn-lg" style="background-image:url(/img/spark.png)"></button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-brand brand-selected btn-lg" style="background-image:url(/img/vodafone.png)"></button>
        </div>
    </div>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-brand btn-lg" style="background-image:url(/img/2degree.png)"></button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-brand btn-lg" style="background-image:url(/img/skinny.png)"></button>
        </div>
    </div>
    <!-- amount -->
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-amount btn-lg">$20</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-amount btn-lg no-left-border">$40</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-amount amount-selected btn-lg no-left-border">$60</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-amount btn-lg no-left-border">$80</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-amount btn-lg no-left-border">$100</button>
        </div>
    </div>
    <p></p>
    <div>
        <span class="lbl-amount">
            240 CNY
        </span>
    </div>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-wechatPay"><img src="~/img/wx-pay.png" style="height:30px" />微信支付</button>
        </div>
    </div>
    <div>OR 
        <span class="lbl-amount">
            58 NZD
        </span>
    </div>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-paymentExpress" style="background-image:url(/img/pe-cc.png)"></button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-paymentExpress" style="background-image:url(/img/pe-a2a.png)"></button>
        </div>
    </div>
</div>